    <div>
    <%= d.label :name,"名稱"%>
    <%= d.text_field :name%>
    </div>
    <div>
    <%= d.label :description,"描述"%>
    <%= d.text_area :description%>
    </div>
    <div>
    <%= d.label :actor,"演員"%>
    <%= d.text_area :actor%>
    </div>
    <div>
    <%= d.label :set,"級數"%>
    <%= d.text_field :set%>
    </div>
    <div>
    <%= d.label :time,"開播時間"%>
    <%= d.text_field :time%>
    </div>