<h1>連續劇</h1>
<table>
<% @dramas.each do |d|%>
  <tr>
    <td>
    <%= d.name %>
    </td>
    <td>
    <%= link_to "顯示", drama_path(d)%>
    <%= link_to "編輯", edit_drama_path(d)%>
    <%= link_to "刪除", drama_path(d), :method => :delete%>
    </td>
  </tr>
<% end %>
</table>
<%= paginate @dramas %>
<%= link_to "新增新的連續劇" ,new_drama_path %>