<h2><%= @drama.name %></h2>
<%= simple_format @drama.description %></br>
<%= simple_format @drama.actor %></br>
<%= @drama.set %></br>
<%= @drama.time %></br>
<%= @drama.created_at %></br>
<%= link_to "回到首頁",dramas_path%>